<h1 class="text-tilte">services plan </h1>

<div class="container">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">general services</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">₹750</h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>1.oil change</li>
            <li>2.water wash</li>
            <li>3.air filter clean</li>
            <li>4.compliant check</li>
          </ul>
          </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">engine services </h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">₹1100</h1>
          <ul class="list-unstyled mt-3 mb-4">
          <li>1.oil change</li>
          <li>2.piston cleaning </li>
          <li>3.elctric wiring </li>
          <li>4.water wash</li>
          </ul>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">yearly check</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">₹1500</h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>1.oil change</li>
            <li>2.water wash</li>
            <li>3.air filter clean</li>
            <li>4.compliant check</li>
            <li>5.electric wiring</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
        <div class="card-deck mb-3 text-center">
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">modified</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">₹2500</h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>1.oil change </li>
                <li>2.airfilter </li>
                <li>3.electric modified</li>
                <li>4.parts changes </li>
                <li>5.engine services</li>
                <li>6.spares changes</li>
              </ul>
            </div>
          </div>
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">accident services</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">₹25000</h1>
              <ul class="list-unstyled mt-3 mb-4">
             <li>1.complete check</li>
             <li>2.spares changes</li>
              </ul>
            </div>
          </div>
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">full modification </h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">₹250000</h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>1.full modification</li>
                <li>2.spares change costumer parts </li>
              </ul>
            </div>
          </div>
        </div>
    </div>
</div>
