.image1{
    height:290px;
}
h1{
    font-size: 2.5em;
    text-transform: capitalize;
    margin-top: .5cm;
    font-family: 'Times New Roman', Times, serif;
}
h4,h3{
    font-family: 'Times New Roman', Times, serif;
    color: red;
}
.text-title{
    text-align: center;
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
    color: orange;
}