
<h1 class="text-title">"our management" </h1>

<div class="container">
    <div class="card-deck mb-3 text-center">
      <div class="card sm-4 shadow-sm">
      
        <div class="card-body">
            <img src="../../assets/card image/images.jpeg" alt="">
          <h1 class="card-title">mr.senthil </h1>
         <h3>managing director</h3>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
       
        <div class="card-body">
            <img src="../../assets/card image/solo1.jpg" alt="">
            <h1 class="card-title">mr.solomon </h1>
           <h3>ceo</h3>
        
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
       
        <div class="card-body">
            <img src="../../assets/card image/images.jpeg" alt="">
          <h1 class="card-title ">mr.manoj </h1>
          <h4>services in-charge</h4>
        </div>
      </div>
    </div>
  
    
  </div>

  <div class="container">
    <div class="card-deck mb-3 text-center">
      <div class="card sm-4 shadow-sm">
    
        <div class="card-body">
            <img src="../../assets/card image/Untitled.jpg" alt="">
          <h1 class="card-title">mr.alwin </h1>
          <h4>senoir mechanic</h4>
          
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        
        <div class="card-body">
            <img src="../../assets/card image/images (2).jpeg" alt="">
          <h1 class="card-title">mr.ravi</h1>
          <h4>branch in-charge</h4>
      
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <img src="../../assets/card image/5.jpg" alt="" class="image1">
        <div class="card-body">
          <h1 class="card-title pricing-card-title">mr.sakthivel</h1>
          <h4>quality in-charge</h4>
          
        </div>
      </div>
    </div>
  
    
  </div>