<!--top bar-->
<div class="container-fluid" class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="border-bottom d-none d-sm-block">
        <div class="row gx-0" id="l0">
            <div class="col-sm-4 text-center py-2">
                <div class="d-line-flex align-items-center">
                    <i class="fas fa-location-dot fs-1 text-success me-3"></i>
                    <div class="text-start">
                        <h4 class="text-uppercase sm-1">office</h4>
                        <span>17/85A,SELVARAJ NAGAR METTUPALAYAM 641-032</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 text-center py-2" id="l1">
                <div class="d-line-flex align-items-center">
                    <i class="fas fas fa-envelope-open fs-1 text-success me-3"></i>
                    <div class="text-start">
                        <h4 class="text-uppercase sm-1">email</h4>
                        <span>johnbikes@bike.ac.in</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 text-center py-2" id="l2">
                <div class="d-line-flex align-items-center">
                    <i class="fas fa-address-book  fs-1 text-success me-3"></i>
                    <div class="text-start">
                        <h4 class="text-uppercase sm-1">contact us </h4>
                        <span>+91-983565744/
                            +91-9365874585</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!---top bar-->