<h1 class="text-title">"products & spares parts"</h1>
<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">oil's</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">branded oil</h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>motul 1200ml ₹1050 </li>
                    <li>shell 1200ml ₹1450</li>
                    <li>bosch 1200ml ₹1550</li>
                    <li>castol 1200ml ₹1850</li>
                </ul>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">spares</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">branded spares</h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>tvs</li>
                    <li>honda</li>
                    <li>yahama</li>
                    <li>royal enifiedls</li>
                    <li>ktm</li>
                    <li>bajay</li>
                </ul>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">modification</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">branded-parts</h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>maruti</li>
                    <li>oem</li>
                    <li>tvs</li>
                    <li>docu</li>
                    <li>ravi spares</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">electric product</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">branded-parts</h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>bulbs </li>
                        <li> horn</li>
                        <li> button </li>
                        <li>wiring kit</li>
                    </ul>
                </div>
            </div>
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">engine </h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">branded-parts</h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>tvs</li>
                        <li>honda</li>
                        <li>yahama</li>
                        <li>royal enifiedls</li>
                        <li>ktm</li>
                        <li>bajay</li>
                    </ul>
                </div>
            </div>
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">silence parts</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">branded-parts
                            </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>tvs</li>
                        <li>honda</li>
                        <li>yahama</li>
                        <li>royal enifiedls</li>
                        <li>ktm</li>
                        <li>bajay</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>